@model AktuarieAppar.Pages.NSS.IndexModel
<form>
    <p>
        UFR: @Model.ufr
        Räntegolv: @Model.golv
        <br />
        Kreditavdrag Tjänste: @Model.kreditriskTJ
        Privat: @Model.kreditriskPR
    </p>

    <p>
    Om man vill byta värden ovan, gå till
    <a class="link" asp-area="" asp-route-purpose="simulering" asp-page="/NSS/Index">NSS (simulering)</a>
    </p>
</form>
