@model AktuarieAppar.Pages.NSS.IndexModel
<form method="POST">
    <input type="hidden" value="PRES" name="NssParametrarTJ.Grunder" />
    <input type="hidden" value="TJP1" name="NssParametrarTJ.KurvNamn" />
    <input type="hidden" value=@Model.NssParametrarTJ.Betha0 name="NssParametrarTJ.Betha0" />
    <input type="hidden" value=@Model.NssParametrarTJ.Betha1 name="NssParametrarTJ.Betha1" />
    <input type="hidden" value=@Model.NssParametrarTJ.Betha2 name="NssParametrarTJ.Betha2" />
    <input type="hidden" value=@Model.NssParametrarTJ.Betha3 name="NssParametrarTJ.Betha3" />
    <input type="hidden" value=@Model.NssParametrarTJ.Tao0 name="NssParametrarTJ.Tao0" />
    <input type="hidden" value=@Model.NssParametrarTJ.Tao1 name="NssParametrarTJ.Tao1" />
    <input type="hidden" value=100 name="NssParametrarTJ.TKonst" />
    <input type="hidden" value=0.15 name="NssParametrarTJ.RelativeTax" />

    <input type="hidden" value="PRES" name="NssParametrarPR.Grunder" />
    <input type="hidden" value="PRIV1" name="NssParametrarPR.KurvNamn" />
    <input type="hidden" value=@Model.NssParametrarPR.Betha0 name="NssParametrarPR.Betha0" />
    <input type="hidden" value=@Model.NssParametrarPR.Betha1 name="NssParametrarPR.Betha1" />
    <input type="hidden" value=@Model.NssParametrarPR.Betha2 name="NssParametrarPR.Betha2" />
    <input type="hidden" value=@Model.NssParametrarPR.Betha3 name="NssParametrarPR.Betha3" />
    <input type="hidden" value=@Model.NssParametrarPR.Tao0 name="NssParametrarPR.Tao0" />
    <input type="hidden" value=@Model.NssParametrarPR.Tao1 name="NssParametrarPR.Tao1" />
    <input type="hidden" value=100 name="NssParametrarPR.TKonst" />
    <input type="hidden" value=0.15 name="NssParametrarPR.RelativeTax" />

    <p>
        Om ok, spara ned i LABAN.dbo.NSSParametrarTMP (aktuarie01 & amfsql2)
    </p>
    <div class="form-group">
        FromDate <input asp-for="NssParametrarTJ.FromDate" class="form-control" value="@Model.lastDateOfMonth.ToShortDateString()" />
        <span asp-validation-for="NssParametrarTJ.FromDate" class="text-danger"></span>
    </div>
    <button type="submit">Laban.<span style="color:Tomato;">INSERT</span></button>

</form>