@page
@model AktuarieAppar.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}



<p>Om ni hittar fel eller har förslag på förbättringar, maila:</p>

<address>
    <strong>Felanmälan:</strong> <a href="mailto:mats.holm@amf.se">Support@aktuarieappar.nu</a><br />
    <strong>Förslag:</strong> <a href="mailto:mats.holm@amf.se">Suggestions@aktuarieappar.nu</a>
</address>