@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


    <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        @if (true)
        {
            <a href="https://en.wikipedia.org/wiki/Ten_Bulls#/media/File:Ten_Bulls_by_Tokuriki_Tomikichiro_(1902-1999).png">
                <img src="Ten_Bulls_by_Tokuriki_Tomikichiro.png" alt="Ten bulls" width="100" height="950" align="middle">
            </a>
        }
        <div class="container">

        </div>
    </div>